In [11]:
import numpy as np
import pandas as pd
import snscrape.modules.twitter as sntwitter

In [14]:
query = '(@Uber) lang:en until:2017-03-20 since:2017-01-20'

tweets = []
for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    
    tweets.append([tweet.id, tweet.date, tweet.user.username, tweet.rawContent, tweet.user.location,
                      tweet.retweetCount, tweet.likeCount])
        
uberdf = pd.DataFrame(tweets, columns=['id', 'date', 'username', 'content', 'location', 'retweets', 'likes'])

In [15]:
uberdf

,id,date,username,content,location,retweets,likes
0,843613036153921539,2017-03-19 23:59:56+00:00,challagher,@Disco_JoJo @LdnUber @jockneycab @Uber o that...,,0,0
1,843612835997536256,2017-03-19 23:59:08+00:00,DuggSteary,Hopefully just a hiccup for @Uber @Uber_Canada...,"Vancouver, British Columbia",0,0
2,843612391606763521,2017-03-19 23:57:22+00:00,OMG_tanner,@Uber *as a driver,"Washington, USA",0,0
3,843612346593529856,2017-03-19 23:57:11+00:00,OMG_tanner,just sign up for @uber,"Washington, USA",0,0
4,843611805679337473,2017-03-19 23:55:02+00:00,CNET,.@Uber has lost its No. 2 executive amid manag...,San Francisco,7,6
...,...,...,...,...,...,...,...
107240,822232929791344640,2017-01-20 00:03:01+00:00,meacherteacher,@efitz_edtech At least you can tweet and ride ...,"Eastern Townships, Quebec",0,1
107241,822232760152715269,2017-01-20 00:02:21+00:00,NickGDocker,@Uber if you schedule a ride &amp; the pick ha...,London,0,0
107242,822232626362654720,2017-01-20 00:01:49+00:00,bimmyjartel,Wow beware of @Uber! Anything left in the car ...,Victoria,0,0
107243,822232589121519617,2017-01-20 00:01:40+00:00,efitz_edtech,#PubPD A1 Emily here in Chicago! ... Well almo...,"Ontario, Canada",0,5
107244,822232377359355904,2017-01-20 00:00:49+00:00,alsargent,"Wanted: when using @Uber Pool, a way to rate a...","San Francisco, CA",0,0

In [20]:
uberdf.to_csv('uberdf.csv')

In [18]:
query = '(@ATVI_AB OR @Blizzard_Ent) lang:en until:2021-08-20 since:2021-06-20'

tweets = []


for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    
    tweets.append([tweet.id, tweet.date, tweet.user.username, tweet.rawContent, tweet.user.location,
                      tweet.retweetCount, tweet.likeCount])
        
blizzardf = pd.DataFrame(tweets, columns=['id', 'date', 'username', 'content', 'location', 'retweets', 'likes'])

In [19]:
blizzardf

,id,date,username,content,location,retweets,likes
0,1428504307628838912,2021-08-19 23:49:01+00:00,kingd81Tube_,@CallofDuty What a bout recovering all the hac...,,0,1
1,1428502361719386120,2021-08-19 23:41:17+00:00,Fallen_Zen,@Qwik @Blizzard_Ent I guess youâ€™re redoing @St...,"Warsaw, Poland",0,0
2,1428500696207290369,2021-08-19 23:34:40+00:00,TheSaltiestSean,@Qwik @Blizzard_Ent I think a lot of people ar...,"Oregon, USA",0,2
3,1428499264917934094,2021-08-19 23:28:59+00:00,zantheus93,@Hounze1 @TTV_Dagether @Qwik @Blizzard_Ent And...,iowa,0,0
4,1428498593825148928,2021-08-19 23:26:19+00:00,MozarabMohan,@Qwik @Blizzard_Ent But how many are people of...,"Gharnata al-Jadida, Antisuyu",0,3
...,...,...,...,...,...,...,...
23051,1406410248697659401,2021-06-20 00:35:07+00:00,Matthewmeowth,@Schiz0Gamer @Blizzard_Ent People like easy ta...,,0,0
23052,1406409977485484032,2021-06-20 00:34:03+00:00,DigitalDissect1,In 1998 @Blizzard_Ent would release tie-in act...,,0,0
23053,1406407535716753410,2021-06-20 00:24:20+00:00,Joeywood2,@Blizzard_Ent fix your reporting system. not ...,"West Hollywood, CA",0,0
23054,1406402337095270401,2021-06-20 00:03:41+00:00,MozarabMohan,Lydia Bottegoni of @Blizzard_Ent @WarcraftDevs...,"Gharnata al-Jadida, Antisuyu",70,133
23055,1406401579733880832,2021-06-20 00:00:40+00:00,YTReloads,@Activision @ATVI_AB @Treyarch @Call0fDutty ca...,"Scotland, United Kingdom",0,0

In [21]:
blizzardf.to_csv('blizzardf.csv')